@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(133, 26, 26);
}

main {
    display: grid;
    grid-template: 100px 400px 100px / 50px 1fr 1fr 50px;
    justify-items: center;
    align-items: center;
}

article#texto {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
}


section {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: flex-end;
    width: 420px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: purple;
    color: gray;
}

article#cadastro {
    grid-area: 2 / 3 / 3 / 4;
    background-color: white;
    border-radius: 5px;
    width: 420px;
    height: 350px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input {
    padding: 8px;
    margin-top: 15px;
    width: 350px;
    border-radius: 2px;
    border: 1px solid black;
}

input[type=button] {
    cursor: pointer;
    background-color: lightgreen;
    color: white;
    font-weight: bold;
}

input[type=button]:hover {

}

input#nm1 {
    margin-top: 30px;
}

h1 {
    margin-bottom: 15px;
}

h3 {
    font-size: 1em;
}

h1, h3, p {
    color: white;
}

p#txtp {
    color: lightgray;
    font-size: 0.9em;
    margin-top: 10px;
}

p#txtp > strong#cor {
    color: orangered;
}