@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, rgb(185, 29, 29), rgb(114, 15, 15), rgb(88, 11, 11)) no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template: 100px 400px 100px / 50px 1fr 1fr 50px;
    justify-items: center;
    align-items: center;
    transition: .5s;
}

article#texto {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.568);
}


section {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: flex-end;
    width: 420px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: purple;
    color: gray;
    box-shadow: 0px 7px 0px 0px #0000005c;
}

article#cadastro {
    grid-area: 2 / 3 / 3 / 4;
    background-color: white;
    border-radius: 5px;
    width: 420px;
    height: 320px;
    box-shadow: 0px 7px 0px 0px #0000005c;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input {
    padding: 8px;
    margin-top: 15px;
    width: 350px;
    border-radius: 3px;
    border: 1px solid gray;
    font-weight: bold;
}

input[type=button] {
    cursor: pointer;
    border: none;
    background-color: rgb(54, 190, 54);
    box-shadow: 0px 3px 0px 0px rgb(41, 139, 41);
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px;
    transition: .5s;
}

input[type=button]:hover {
    padding: 15px;
    width: 370px;
    transition: .5s;
}

input#nm1 {
    margin-top: 30px;
}

h1 {
    margin-bottom: 15px;
}

h3 {
    font-size: 1em;
}

h1, h3, p {
    color: white;
}

p#txtp {
    color: rgb(172, 170, 170);
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
}

p#txtp a {
    color: orangered;
    cursor: pointer;
    text-decoration: none;
}

#txtp a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {

    main {
        grid-template: 170px 80px 380px / 1fr;
    }

    article#texto {
        grid-area: 1 / 1 / 2 / -1;
    }

    article#cadastro {
        grid-area: 3 / 1 / 4 / 2;
        width: 280px;
    }

    #cadastro input {
        width: 230px;
    }

    #cadastro input[type=button]:hover {
        width: 240px;
    }

    p#txtp {
        width: 250px;
        }

    section {
        grid-area: 2 / 1 / 3 / 2;
        align-items: flex-start;
        width: 280px;
        margin-top: 0;
    }

    section h3 {
        font-size: 0.9em;
    }
}